/* css styles */
.social-icons {
  display: flex;
  justify-content: center;   /* center the icons */
  gap: 20px;                 /* equal spacing between them */
  margin-top: 0px;
  font-size: 1.5em;          /* adjust icon size */
}

.social-icons a {
  color: inherit;            /* inherit text/icon color */
  text-decoration: none;
}

.social-icons a:hover {
  color: #0077b6;            /* highlight color on hover */
}

img.rounded {
  margin-bottom: 0;   /* remove space under the image */
}

/* Pride flag block */
.pride-flag {
  display: inline-block;
  width: 26px;
  height: 20px;
  border-radius: 3px;
  vertical-align: middle;

  background: 
    conic-gradient(at 14% 50%, #0000 221.25deg, white 222deg 318deg, #0000 318.25deg),
    conic-gradient(at 23% 50%, #0000 221.25deg, #ffa6b9 222deg 318deg, #0000 318.25deg),
    conic-gradient(at 32% 50%, #0000 221.25deg, #00d2ff 222deg 318deg, #0000 318.25deg),
    conic-gradient(at 41% 50%, #0000 221.25deg, #753000 222deg 318deg, #0000 318.25deg),
    conic-gradient(at 50% 50%, #0000 221.25deg, black 222deg 318deg, #0000 318.25deg),
    linear-gradient(red 0 16.66%, orange 0 33.33%, yellow 0 50%, green 0 66.66%, blue 0 83.33%, indigo 0);
}